.App {
    /* background-color: #50c878; */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.background {
    background-color: #50c878;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-register {
    background-color: #fff;
    width: 40vw;
    height: 80vh;
    border-radius: 8px;
    padding: 30px 50px 30px 50px;
    display: grid;
    align-items: center;
}
.error {
    color: 'red';
    font-size: 18px;
    text-align: center;
}
.icon-img {
    width: 40px;
    justify-self: center;
}
.title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 25px;
}
.input-container, .btn-container {
    display: flex;
    flex-direction: column;
}
.name-container, .password-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.input {
    height: 40px;
    margin-top: 20px;
    border: none;
    background-color: #dcdcdcba;
    padding: 0 20px 0 20px;
    outline: none;
}
.input2 {
    width: 40%;
    height: 40px;
    margin-top: 20px;
    border: none;
    background-color: #dcdcdcba;
    padding: 0 20px 0 20px;
    outline: none;
}
@media (max-width: 1000px) {
    .form-register {
        height: 85vh;
    }
    .input2 {
        width: 100%;
    }
}
.birth-title {
    margin-right: 20px;
}
.btn-standard {
    margin-top: 20px;
    height: 40px;
    background-color: #50c878;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 20px;
    border-radius: 8px;
    width: 100%;
}
.link {
    text-decoration: none;
    color: darkgrey;
}